.layoutBackground {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 1390px;
  min-height: 70vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
