.progressBarContainer {
  top: 10px;
  left: 10px;
  height: 15px;
  right: 10px;
  position: fixed;
  overflow: hidden;
  border-radius: 5px;
}

.progressBarFill {
  height: 100%;
  background-color: var(--button-color);
}

.progressBarHidden {
  display: none;
}
